$bg: #f2f4f6;

$cPrimary: #0060e5;
$cSecondary1: #1979fe;
$cSecondary2: #004ce0;
$cSecondary3: #0e3c82;
$cSecondary4: #072856;
$cSecondary5: #e2f0f8;
$cSecondary6: #c6dafd;
$cSecondary7: #d6e7ff;

$cGreen: #42c184;
$cGreen2: #37ac74;
$cTeal: #01bed2;
$cYellow: #fdb913;
$cYellow2: #eca904;
$cPurple: #8e30e8;
$cRed: #d33d3d;

$shade1: #15191c;
$shade2: #22282c;
$shade3: #31393e;
$shade4: #4d5a66;
$shade5: #566573;
$shade6: #85929e;
$shade7: #f0f0f0;

$black1: #061325;

$grey2: #858c95;
$grey3: #cdcfd1;
$grey4: #f2f4f6;
$grey5: #f2f7ff;

$neutral1: #05121d;
$neutral2: #d0c9d6;
$neutral3: #ece9f1;
$neutral4: #f7f5f9;
$neutral5: #ffffff;
$neutral6: #eeefff;
$neutralGrey: #f2f3f4;

$neutralOverlay: #e5e5e5;

$accentRed: #db4343;

$gradientDark: linear-gradient(90deg, #092041 0%, #043a79 100%);
$gradientBlue: linear-gradient(114.86deg, #004ce0 0%, #1da6f3 100%);
$gradientGrey: linear-gradient(191.77deg, #ecf3fe 3.26%, #c6dafd 98.18%);
$gradientOrange: linear-gradient(203.54deg, #f36c26 16.18%, #fdb913 83.82%);
$gradientPurple: linear-gradient(248.53deg, #a539e9 3.83%, #7828e7 96.26%);
$gradientViolet: linear-gradient(236.75deg, #7763ed 3.83%, #462bd9 96.26%);
$gradientPink: linear-gradient(203.54deg, #ffc5a4 16.18%, #ff939e 83.82%);
$gradientCyan: linear-gradient(90deg, #00c5e0 0%, #00e0d3 100%);
$gradientBlueViolet: linear-gradient(206.38deg, #7763ed 3.83%, #462bd9 96.26%);
