.sa-hidden {
    opacity: 0;
}

.sa-fade-in {
    animation: fade-in 1.4s;
}

@keyframes fade-in {
    from {opacity: 0; transform: scale(.7,.7)}
    to {opacity: 1;}
}

.sa-bounce {
    animation: bounce 1s infinite;
    position: relative;
}

@keyframes bounce {
    0% {top: -2px}
    50% {top: 2px}
    100% { top: -2px}
}