title Gempages Partner Program
meta(name='keywords' content='web design, web development')
meta(name='description' content='The no.1 Shopify drag & drop landing page builder. +30 conversion-focused free shopify themes and templates ready to use.')
link(rel='canonical' href='https://gempages.net/')
meta(property='og:locale' content='en_US')
meta(property='og:type' content='website')
meta(property='og:title' content='GemPages - Shopify drag & drop landing page builder')
meta(property='og:description' content='The no.1 Shopify drag & drop landing page builder. +30 conversion-focused free shopify themes and templates ready to use.')
meta(property='og:url' content='https://gempages.net/')
meta(property='og:site_name' content='GemPages')
meta(name='twitter:card' content='summary')
meta(name='twitter:description' content='The no.1 Shopify drag & drop landing page builder. +30 conversion-focused free shopify themes and templates ready to use.')
meta(name='twitter:title' content='GemPages - Shopify drag & drop landing page builder')